[build-system]
requires = ["setuptools>=45", "wheel", "numpy>=2"]
build-backend = "setuptools.build_meta"

[project]
name = "vcztools"
description = "Implementation of bcftools for VCF Zarr"
readme = "README.md"
license = {file = "LICENSE"}
authors = [
  {name = "sgkit Developers", email = "project@sgkit.dev"},
]
dependencies = [
  "numpy>=1.23.5,<2",
  "zarr>=2.17,<3",
  "click",
  "pyranges",
]
requires-python = ">=3.9"
dynamic = ["version"]

[project.scripts]
vcztools = "vcztools.cli:vcztools_main"

[project.optional-dependencies]
dev = [
  "bio2zarr @ git+https://github.com/sgkit-dev/bio2zarr.git",
  "cyvcf2",
  "pytest",
  "pytest-datadir",
]

[tool.setuptools]
packages = ["vcztools"]

[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.setuptools_scm]
write_to = "vcztools/_version.py"

[tool.ruff]
# Assume Python 3.9
target-version = "py39"

# Same as Black.
line-length = 88
indent-width = 4

[tool.ruff.lint]
select = ["E", "F", "B", "W", "I", "N", "UP", "A", "RUF", "PT"]
#Allow uppercase names for e.g. call_AD
ignore = ["N806", "N802", "A001", "A002"]

fixable = ["ALL"]
unfixable = []

[tool.ruff.lint.isort]
known-third-party = [
  "bio2zarr",
  "click",
  "cyvcf2",
  "numcodecs",
  "numpy",
  "pandas",
  "pyranges",
  "pytest",
  "setuptools",
  "zarr"
]